form {
    height: 240px;
    width: 300px;
    background-color: #D3E3FD;
    padding-left: 20px;
    margin: 30px 0px 10px 40%;
    padding-top: 20px;
    border-radius: 7px;

}

form:hover {
    box-shadow: blue 1px 1px 10px 2px;
}

button:hover {
    box-shadow: blue 1px 1px 10px 2px;
}

textarea {
    width: 190px;
}

button {
  margin: 5px 0px 0px 40%;
    border-radius: 4px;
    border: 2px solid #D3E3FD;
}